@import url("https://fonts.googleapis.com/css?family=Fira+Sans");
html, body {
  margin: 0;
  position: relative;
  min-height: 100vh;
  background-color: #E1E8EE;
  font-family: "Fira Sans", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0px;
  padding: 0px;
  height: 100px;
  width: 100%;
}

.logo-container {
  width: auto;
  height: inherit;
}

.logo-container img {
  width: auto;
  height: inherit;
}

.search-container {
  width: 30%;
  height: 45px;
  display: block;
  margin: 0;
}

input#search-bar {
  margin: 0;
  width: -webkit-fill-available;
  height: 45px;
  padding: 0 20px;
  font-size: 1rem;
  border: 1px solid #D0CFCE;
  outline: none;
}

input#search-bar:focus {
  border: 1px solid #008ABF;
  -webkit-transition: 0.35s ease;
  transition: 0.35s ease;
  color: #008ABF;
}

input#search-bar:focus::-webkit-input-placeholder {
  -webkit-transition: opacity 0.45s ease;
  transition: opacity 0.45s ease;
  opacity: 0;
}

input#search-bar:focus::-moz-placeholder {
  -webkit-transition: opacity 0.45s ease;
  transition: opacity 0.45s ease;
  opacity: 0;
}

input#search-bar:focus:-ms-placeholder {
  -webkit-transition: opacity 0.45s ease;
  transition: opacity 0.45s ease;
  opacity: 0;
}

.search-icon {
  position: relative;
  float: right;
  width: 45px;
  height: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: -45px;
  right: 0;
}

.search-icon img {
  width: 40%;
  height: 40%;
}

.icon-container {
  width: 5%;
  height: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-container {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.main-container .menu-panal {
  width: 20%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background-color: #65a1b9;
}

.main-container .menu-panal ul {
  margin: 0px;
  padding: 10% 0% 10% 10%;
  width: 90%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.main-container .menu-panal ul li {
  margin: 0;
  width: 100%;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0px 5%;
}

.main-container .menu-panal ul li a {
  text-decoration: none;
  color: #000;
}

.main-container .service-panal {
  width: 50%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background-color: #65a1b9;
}

.main-container .service-panal .services-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main-container .service-panal .service-box {
  width: 25%;
  padding: 10px;
  text-align: center;
  color: #ddd;
  cursor: pointer;
}

.main-container .service-panal .service-box a {
  text-decoration: none;
}

.main-container .service-panal .service-icon {
  display: inline-block;
  width: 70px;
  height: 70px;
  border: 3px solid #82ccdd;
  color: #73b2bd;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  margin-bottom: 30px;
  margin-top: 16px;
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear;
}

.main-container .service-panal .service-icon i {
  line-height: 70px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  font-size: 26px;
}

.main-container .service-panal .service-box:hover .service-icon {
  background: #82ccdd;
  color: #ddd;
}

.main-container .service-panal .service-title {
  font-size: 18px;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.main-container .service-panal .service-desc {
  font-size: 14px;
}

@media screen and (max-width: 960px) {
  .main-container .service-panal .service-box {
    max-width: 45%;
  }
}

@media screen and (max-width: 768px) {
  .main-container .service-panal .service-box {
    max-width: 50%;
  }
}

@media screen and (max-width: 480px) {
  .main-container .service-panal .service-box {
    max-width: 100%;
  }
}

.main-container .info-panal {
  width: 20%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background-color: #65a1b9;
}

.main-container .info-panal table {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  border-collapse: collapse;
  border-spacing: 0;
}

.main-container .info-panal table tr {
  width: 100%;
  height: 75px;
}

.main-container .info-panal table tr th {
  width: 100%;
  height: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-container .info-panal table tr td {
  width: 100%;
  height: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-container .info-panal table tr td .balance-icon {
  width: 3em;
  height: 3em;
  border-radius: 50%;
  background-color: #18698a;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  overflow: hidden;
}

.main-container .info-panal table tr td .balance-icon img {
  width: auto;
  height: 80%;
}

.main-container .info-panal table tr td .info-container {
  width: 50%;
}

.main-container .info-panal table tr td .load-button {
  color: #000;
}

.main-container .info-panal table tr td .load-button ::after, .main-container .info-panal table tr td .load-button ::before {
  border: 3px solid #000;
  content: "";
  position: absolute;
  width: calc(100% - 6px);
  height: calc(100% - 6px);
  left: 0;
  bottom: 0;
  z-index: -1;
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}

.main-container .info-panal table tr td .load-button ::after :hover::after, .main-container .info-panal table tr td .load-button ::before :hover::after {
  -webkit-transform: translate(-5px, -5px);
          transform: translate(-5px, -5px);
}

.main-container .info-panal table tr td .load-button ::after :hover::after :hover::before, .main-container .info-panal table tr td .load-button ::before :hover::after :hover::before {
  -webkit-transform: translate(5px, 5px);
          transform: translate(5px, 5px);
}
/*# sourceMappingURL=home.css.map */