$background_color : #181818;
$text_color : #EBECF0;
$nav_bg : #202020;
$accent : #4a50a5;
nav{
	background-color: $nav_bg;
}
a{
	color: $text_color;
}
#menu__panel1, #menu__panel2 {
background-color: $nav_bg;
}
.service_box{
	color: $accent;
}
.main-container .service-panal .services-container {
	.service-icon,.service-title{
		color: $accent;
		border-color: $accent;
	}
	.service-box:hover .service-icon{
        background: $accent;
      }
}
.main-container .info-panal .balance tr th .load-button{
	color: $accent;
	&::before, &::after{
		border-color: $accent;
	}
}
.main-container .info-panal{
	.balance, .contact{
		border-color: $accent;
	}
}
.main-container .info-panal .balance tr td .balance-icon{
background-color: $accent;
}

body{
	background-color: $background_color;
	color: $text_color;
}

.main-container {
	.history-panal{
		border: 3px solid $accent;
	}
}