* {box-sizing: border-box;}

.history-panal{
    width: 70%;
    height: fit-content;
    margin: 2% 0% 0% 0%;
    padding: 2%;
    border: 3px solid #151B6B;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.single_transcation{
    width: 100%;
    padding: 2%;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.icon{
    width: 50px;
    height: 50px;
    font-size: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.details{
    width: 50%;
}
.receiver_info{
    font-size: larger;
    font-weight: bold;
}
.transaction_purpose{
    font-size: smaller;
    font-weight: lighter;
}

.amount{
    width: 20%;
}
.transaction_amount{
    font-weight: bold;
    font-size: larger;
}
.transaction_date{
    font-size: smaller;
    font-weight: lighter;

}


.send{
    background: #dc3b3b30;
    .icon{
       background: #dc3b3bbe;
    }
}

.receive{
    background: #5dd22b30;
    .icon{
        background: #5dd22bbe;
     }
}